* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SofiaSans;
  src: url("../font/SofiaSans-Regular.ttf");
}

@font-face {
  font-family: TitilliumWebBlack;
  src: url("../font/TitilliumWeb-Black.ttf");
}

.hero-section {
  background-image: url(../Img/Background-img.jpeg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 55% 58%;
  height: 1030px;
}

.header-primary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.logo-text {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  color: #333;
}

.logo {
  width: 66.2px;
  height: 65px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text-1 {
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.2px;
  color: black;
}

.text-2 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: black;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 400;
  font-family: SofiaSans;
  font-size: 20px;
  line-height: 24px;
  transition: all 3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #333;
}

.main-nav-link-buttons{
  display: flex;
  gap: 20px;
}

.main-nav-link.nav-log:link,
.main-nav-link.nav-log:visited {
  text-align: center;
  padding: 20px 0px;
  width: 170px;
  border-radius: 18px;
  color: #fff;
  background-color: #1863ec;
}

.main-nav-link.nav-log:hover,
.main-nav-link.nav-log:active {
  background-color: #053285;
}

.main-nav-link.nav-add:link,
.main-nav-link.nav-add:visited {
  text-align: center;
  padding: 20px 0px;
  width: 170px;
  border: 1px solid #053285;
  border-radius: 18px;
  color: #333;
  background-color: transparent;
}

.main-nav-link.nav-add:hover,
.main-nav-link.nav-add:active {
  color: #fff;
  background-color: #1863ec;
}

.btn-moblie-nav {
  font-size: 28px;
  color: #053285;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.center-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 80px;
  font-family: TitilliumWebBlack;
  color: #303030;
  padding: 140px 0px;
}

.search-modal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7.5%;
}

.nav-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 18%;
  gap: 10px;
  text-transform: uppercase;
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.flights {
  width: 98px;
  height: 41.11px;
  padding: 15px 0px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #FFFFFF;
  cursor: pointer;
}

.hotels {
  width: 98px;
  height: 41.11px;
  padding: 15px 0px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #D9D9D9;
  color: #000;
  cursor: pointer;
}
.car {
  width: 120px;
  height: 41.11px;
  padding: 15px 0px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #D9D9D9;
  color: #000;
  cursor: pointer;
}

.explore {
  width: 110px;
  height: 41.11px;
  padding: 15px 0px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #D9D9D9;
  color: #000;
  cursor: pointer;
}

.new {
  position: relative;
  top: -15px;
  left: -60px;
  background-color: #eb421d;
  color: #FFFFFF;
  width: 42px;
  height: 25px;
  font-size: 12px;
  padding: 5px 0px;
  font-weight: 500;
  cursor: pointer;
}
.container-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
  height: 370px;
  padding: 30px;
  border-radius: 11px;
  background-color: rgba(238, 241, 245, 0.67);
  position: relative;
}
.search-row-1, .search-row-2{
  display: flex;
  justify-content: space-evenly;
}
.from {
  background-color: #ffffff;
  width: 35%;
  height: 104.83px;
  min-width: 318px;
  max-width: 475px;
  flex-grow: 1;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.from-text {
  display: flex;
  flex-direction: column;
}
.from-text-1, .date-text-1, .return-text-1, .to-text-1, .travelers-text-1 {
  text-transform: uppercase;
}
.from-text-1,
.from-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.from-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}
.from-text-2-sub{
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.dates-container{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.date {
  background-color: #ffffff;
  width: 50%;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.departure {
  width: 52px;
  height: 53px;
}

.date-text {
  display: flex;
  flex-direction: column;
}

.date-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.date-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}
.date-text-2-sub{
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.date-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.return {
  background-color: #fff;
  width: 50%;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.return-date {
  width: 52px;
  height: 53px;
}
.return-text {
  display: flex;
  flex-direction: column;
}

.return-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}

.return-text-2 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.arrow{
  position: relative;
}

.arrow img {
  position: absolute;
  top: -30px;
  left: 38%;
  width: 61px;
  height: 62.69px;
  z-index: 1;
  border: 3px solid #E2E4E8;
  border-radius: 30px;
}

.arrival {
  width: 52px;
  height: 53px;
}
.to {
  background-color: #ffffff;
  width: 35%;
  height: 104.83px;
  min-width: 318px;
  max-width: 475px;
  flex-grow: 1;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.landing {
  width: 52px;
  height: 53px;
}

.to-text {
  display: flex;
  flex-direction: column;
}

.to-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.to-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}
.to-text-2-sub{
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.to-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.travelers {
  background-color: #fff;
  width: 50%;
  height: 104.83px;
  max-width: 540px;
  min-width: 497.5px;
  flex-grow: 1;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.travelers-class {
  width: 52px;
  height: 53px;
}
.travelers-text {
  display: flex;
  flex-direction: column;
}

.travelers-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.travelers-text-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}

.travelers-text-2-sub{
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.radio-btn-trip {
  margin-left: 10%;
  font-family: SofiaSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  display: flex;
  gap: 20px;
}

#round-trip,
#one-way,
#multicity {
  accent-color: black;
}

.search-container{
  display: flex;
  justify-content: center;
}

.search {
  position: relative;
  z-index: 1;
  top: -40px;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  width: 461.79px;
  height: 78px;
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}

.destinations {
  background-color: #20242B;
  position: relative;
  padding: 10% 15% 5% 15%;
}
.heading-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0px;
}
.heading-secondary {
  color: #fff;
  font-family: SofiaSans;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
}
.more {
  text-decoration: underline;
  cursor: pointer;
  color: #fc7f0c;
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}

.destinations-img {
  display: flex;
  position: relative;
}

.destinations-img-1 img {
  height: 501px;
  box-shadow: 0px -156px 150px 0px #1B1B1B inset;
}
.destination-text{
  position: absolute;
  left: 2%;
  bottom: 7%;
}
.destination-text-1{
  font-size: 24px;
  font-weight: 800;
  font-family: sofiasans;
  color: #FFFFFF
}

.destination-text-2{
  font-size: 20px;
  font-weight: 300;
  font-family: sofiasans;
  color: #FFFFFF
}

.destinations-img-2 img {
  width: 400px;
  height: 501px;
  position: absolute;
  left: 42%;
  filter: grayscale(100%);
  box-shadow: 
        0px -156px 150px 0px #1B1B1BC7 inset,
        -15px 0px 41px 0px #1B1B1B;          
}

.destinations-img-3 img {
  width: 400px;
  height: 501px;
  position: absolute;
  left: 62.4%;
  filter: grayscale(100%);
  box-shadow: 
        0px -208px 150px -108px #1B1B1B00 inset,
        -15px 0px 29px 0px #1B1B1B;
  ;
}

.divider-wrapper{
  position: relative;
  padding: 80px 0px;
}

.divider-1{
  height: 4px;
  width: 50%;
  background-color: #EB421D;
  position: absolute;
  top: 79px;
}

.divider-2{
  height: 1.5px;
  background-color: #909090;
}

.divider-rect{
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 50%;
  width: 9px;
  height: 9px;
  background-color: #D9D9D9;
}

.offers {
  padding: 0% 15% 5% 15%;
  background-color: #20242B;;
  position: relative;
}

.offers-header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 30px 0px;
}
.offers-header-text{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 800;
  font-family: sofiasans;
}
.offers-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: SofiaSans;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
}

.offers-line{
  width: 500px;
  height: 2px;
  background-color:rgb(255, 255, 255);
  position: absolute;
  top: 66%;
  right: 5.5%;
}

.flight {
  width: 145px;
  height: 41px;
  padding: 0px 19px 0px 19px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #ffff;
  z-index: 1;
  cursor: pointer;
}

.bank_offers,
.hotel,
.all_offer {
  width: 160px;
  height: 41px;
  color: #ffff;
  cursor: pointer;
}

.offers-container-1, .offers-container-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0%;
}

.offer-card{
  background-color: #FFFFFF;
  border-radius: 9px;
  padding: 20px;
  width: 49%;
}

.offer-card-row-1, .offer-card-row-2, .offer-card-column-1, .offer-card-column-2{
  display: flex;
  justify-content: space-between;
}

.offer-card-column-1, .offer-card-column-2{
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.offer-card-column-1{
  width: 25%;
}
.offer-card-column-2{
  width: 65%;
}

.offer-card-column-1 img{
  width: 150px;
  height: 150px;
  border-radius: 9px;
}

.offer-text-1{
  font-family: sofiasans;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.offer-text-2{
  font-family: sofiasans;
  font-weight: 800;
  font-size: 23px;
  color: #000000;
}

.offer-text-3{
  font-family: sofiasans;
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}

.offer-card-row-2{
  position: relative;
  padding: 5.0% 0% 2.5% 0%;
  align-items: center;
}

.tnc{
  font-family: sofiasans;
  font-weight: 300;
  font-size: 15px;
  color: #000000;
  position: absolute;
  left: 8%;
}
.book-now-button{
  position: absolute;
  right: 1%;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #fff;
  border-radius: 26px;
  width: 110px;
  height: 28px;
  cursor: pointer;
  border: none;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f09819;
  text-decoration-color: #f09819;
  text-decoration-line: underline;
  font-size: 24px;
  font-weight: 600;
  font-family: SofiaSans;
  cursor: pointer;
  padding: 20px 0px;
}

.sights {
  padding: 0% 15% 10% 15%;
  background-color: #20242B;;
  position: relative;
}
.sights-heading-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.sights_heading {
  color: #fff;
  font-family: SofiaSans;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
  text-align: left;
}
.sights_more {
  text-decoration: underline;
  color: #fc7f0c;
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  cursor: pointer;
}
.sights-img {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -90px 52px -20px #1B1B1B inset;
}

.sights-img img{
  width: 32%;
}
.sights-img-caption{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 110px;
  left: 17%;
  gap: 70px;
}
.sights-img-text h5{
  font-family: SofiaSans;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;
}

.sights-img-text p{
  font-family: SofiaSans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}
.location-map {
  background-color: #20242B;
  color: #fff;
  position: relative;
  padding: 0% 15% 0% 15%;
}

.location-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 10%;
  align-items: center;
}
.location-header{
  font-size: 40;
  font-family: SofiaSans;
  font-weight: 800;
  color: #FFFFFF;
}
.arrow-line {
  color: #f09819;
  font-size: 20px;
}
.map-line{
  width: 38%;
  height: 1.5px;
  background-color:#D9D9D9;
  position: absolute;
  top: 60%;
  right: 22%;
}
.map{
  background-color: #20242B;
}
.aboutus {
  background-color: #20242B;;
  height: 320px;
  position: relative;
}

.aboutus-img {
  position: absolute;
  width: 202px;
  height: 196px;
  opacity: 0.1;
}
.about-us-header{
  display: flex;
  justify-content: space-between;
  padding: 5% 15% 2% 15%;
  align-items: center;
}

.about-text{
  font-family: SofiaSans;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.link{
  font-family: SofiaSans;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
  cursor: pointer;
}
.customer-cards{
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}
.customer-1{
  width: 48%;
  height: 150px;
  border-radius: 9px;
  background-color: #FB4F0B;
  color: #fff;
}
.heading-star{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  margin: 10px 0px 0px 30px;
  font-family: SofiaSans;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;  
}

.star {
  margin: 10px 30px 0px 0px;
  width: 167.16px;
  height: 38.66px;
}

.aboutus_p{
  margin: 10px 0px 0px 30px;
  font-family: SofiaSans;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}
.customer-2{
  width: 48%;
  height: 150px;
  border-radius: 9px;
  background-color: #FB4F0B;
  color: #fff;
}

.news-updates{
  background-color: #20242B;
  position: relative;
}

.news-header-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 5% 15% 2% 15%;
  align-items: center;
}

.news-text{
  font-family: SofiaSans;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.news-link {
  font-family: SofiaSans;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
}

.news-img {
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  align-items: center;
}

.news-img-1 img, .news-img-2 img, .news-img-3 img, .news-img-4 img{
  width: 285px;
  height: 285px;
}

.news-img h5{
  margin: 20px 0px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.news-img a {
  font-family: SofiaSans;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #76A6FF;
}

.gulf{
  display: flex;
  justify-content: space-around;
  background-color: #252525;
  padding: 5% 5%; 
}

.why,.whybook {
  width: 40%;
  font-family: SofiaSans;
  text-align: left;
}

.why h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 68px;
  color: #76A6FF;
}

.why p{
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

.whybook h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 68px;
  color: #76A6FF;
}

.whybook p{
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #fff;
}

.details{
  padding: 5% 15%;
  font-family: SofiaSans;
  text-align: left;
  background-color: #20242B;
  color: #fff;
}
.detail h1{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 47.52px;
}
.detail p{
  font-size: 15px;
  font-weight: 400;
  line-height: 39.6px;
} 
.quik-link {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  background-image: linear-gradient(#FB4F0B,#AD3419);
  font-family: SofiaSans;
  font-size: 32px;
  font-weight: 400;
  line-height: 63.36px;
  text-align: left;
}

.about a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color:#fff;
}

.policy a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color:#fff;
}
.signup h1{
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 71.28px;
  text-align: left;
  color: #fff;
}
.signup p{
  font-size: 20px;
  font-weight: 400;
  line-height: 39.6px;
  text-align: left;
  color: rgba(255, 255, 255,0.5);
}
.signup{
  position: relative;
}

.email-arrow {
  position: absolute;
  top: 24%;
  right: 9%;
  color: rgba(255, 255, 255,0.5);
}
.line{
  position: absolute;
  top: 42%;
  width: 90%;
  height: 2px;
  background-color:rgba(255, 255, 255,0.5);
}
.social-link{
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 5% 15%;
}
.social-icon i{
  font-size: 30px;
  color: #fff;
}
.copyright {
  font-family: SofiaSans;
  color: #fff;
}
.copyright h1{
  font-size: 20px;
  font-weight: 700;
  line-height: 38.4px;
}
.copyright p{
  font-size: 15px;
  font-weight: 400;
  line-height: 28.8px;
}