* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SofiaSans;
  src: url("../font/SofiaSans-Regular.ttf");
}

@font-face {
  font-family: TitilliumWebBlack;
  src: url("../font/TitilliumWeb-Black.ttf");
}

.header-primary {
  background-image: url(../Img/Background-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-secondary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-text {
  margin-top: 20px;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  color: #333;
}

.logo {
  width: 66.2px;
  height: 65px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text-1 {
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.2px;
  color: black;
}

.text-2 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: black;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  font-family: SofiaSans;
  font-size: 20px;
  line-height: 24px;
  transition: all 3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #333;
}

.main-nav-link.nav-log:link,
.main-nav-link.nav-log:visited {
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 9px;
  color: #fff;
  background-color: #053285;
}

.main-nav-link.nav-log:hover,
.main-nav-link.nav-log:active {
  background-color: #1863ec;
}

.main-nav-link.nav-add:link,
.main-nav-link.nav-add:visited {
  padding: 12px 24px;
  border: 1px solid #053285;
  border-radius: 9px;
  color: #333;
  background-color: transparent;
}

.main-nav-link.nav-add:hover,
.main-nav-link.nav-add:active {
  color: #fff;
  background-color: #1863ec;
}

.btn-moblie-nav {
  width: 42px;
  height: 28.26px;
  color: #053285;
  border: none;
  background-color: transparent;
}

.center-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: TitilliumWebBlack;
  color: #303030;
  padding: 140px 0px 90px 0px;
}

.btn {
  margin-left: 655px;
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
}

.flights {
  width: 98px;
  height: 41.11px;
  padding: 15px 19px 15px 19px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #ffff;
}

.hotels {
  width: 98px;
  height: 41.11px;
  padding: 15px 19px 15px 19px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #ffff;
  color: #000;
}
.car {
  width: 120px;
  height: 41.11px;
  padding: 15px 0px 15px 0px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #ffff;
  color: #000;
}

.explore {
  width: 110px;
  height: 41.11px;
  padding: 15px 19px 15px 19px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-color: #ffff;
  color: #000;
}

.new {
  position: relative;
  top: -15px;
  left: -80px;
  background-color: #eb421d;
  color: #fff;
  width: 60px;
  height: 21.58px;
  font-size: 12px;
  padding: 6px 19px 6px 19px;
  font-weight: 500;
  line-height: 14.4px;
}

.container {
  margin-left: 80px;
  width: 1100px;
  height: 370px;
  border-radius: 11px;
  background-color: rgba(238, 241, 245, 0.67);
  position: relative;
}

.from {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: #ffffff;
  width: 420px;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.from img {
  margin: 20px;
}

.arrival {
  width: 52px;
  height: 53px;
}

.from-text {
  display: flex;
  flex-direction: column;
}

.from-text-1,
.from-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.from-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}

.arrow img {
  position: absolute;
  top: 130px;
  left: 335px;
  width: 61px;
  height: 62.69px;
  z-index: 1;
}

.to {
  position: absolute;
  top: 170px;
  left: 20px;
  background-color: #ffffff;
  width: 420px;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.to img {
  margin: 20px;
}

.landing {
  width: 52px;
  height: 53px;
}

.to-text {
  display: flex;
  flex-direction: column;
}

.to-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.to-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}

.to-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.date {
  position: absolute;
  top: 40px;
  left: 455px;
  background-color: #ffffff;
  width: 304px;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.date img {
  margin: 20px;
}

.departure {
  width: 52px;
  height: 53px;
}

.date-text {
  display: flex;
  flex-direction: column;
}

.date-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.date-text-2 {
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
}
.date-text-3 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.return {
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: #fff;
  width: 300px;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.return img {
  margin: 20px;
}

.return-date {
  width: 52px;
  height: 53px;
}
.return-text {
  display: flex;
  flex-direction: column;
}

.return-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}

.return-text-2 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.travelers {
  position: absolute;
  top: 170px;
  right: 20px;
  background-color: #fff;
  width: 620px;
  height: 104.83px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.travelers img {
  margin: 20px;
}

.travelers-date {
  width: 52px;
  height: 53px;
}
.travelers-text {
  display: flex;
  flex-direction: column;
}

.travelers-text-1 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}

.travelers-text-2 {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.radio-btn {
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-family: SofiaSans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  display: flex;
  gap: 20px;
}

#round-trip,
#one-way,
#multicity {
  accent-color: black;
}

.search {
  position: relative;
  top: -20px;
  left: 400px;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  width: 461.79px;
  height: 44px;
  font-family: SofiaSans;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: center;
}

.destinations {
  background-color: #1b1b1b;
  position: relative;
}

.heading-secondary {
  padding: 100px 0px 50px 40px;
  color: #fff;
  font-family: SofiaSans;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
}

.more {
  position: absolute;
  top: 120px;
  right: 10px;
  text-decoration: underline;
  color: #fc7f0c;
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}

.destinations-img {
  display: flex;
}

.destinations-img-1 img {
  margin-left: 50px;
  width: 400px;
  height: 500px;
}

.destinations-img-2 img {
  width: 400px;
  height: 501px;
}
.destinations-img-2::before,
.destinations-img-2::after {
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.destinations-img-2::before {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
}

.destinations-img-2::after {
  width: 40%;
  padding-bottom: 50%;
  background-color: rgba(255, 255, 255,0.5);
  z-index: 1;
}

.destinations-img-3 img {
  width: 400px;
  height: 500px;
  z-index: 4;
}

.destinations-img-3::before,
.destinations-img-3::after {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 76%;
  transform: translate(-40%, -50%);
}
.destinations-img-3::before {
  width: 30%;
  background-color: rgba(255, 255, 255,0.1);
  z-index: 5;
}

.destinations-img-3::after {
  width: 40%;
  padding-bottom: 50%;
  background-color: rgba(255, 255, 255,0.5);
  z-index: 6;
}

.offers {
  padding: 50px 0px 10px 20px;
  background-color: #000000;
  position: relative;
}

.offers h1 {
  padding-left: 70px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
  text-align: left;
}

.offers-btn {
  position: absolute;
  top: 60px;
  right: 120px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: SofiaSans;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
}

.offers-line{
  position: absolute;
  top: 100px;
  right: 125px;
  width: 650px;
  height: 2px;
  background-color:rgb(255, 255, 255);
}

.flight {
  width: 145px;
  height: 41px;
  padding: 0px 19px 0px 19px;
  border-radius: 12px 12px 0px 0px;
  border: none;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #ffff;
}

.bank_offers,
.hotel,
.all_offer {
  width: 160px;
  height: 41px;
  color: #ffff;
}

.offers-container {
  display: flex;
  width: 1100px;
  height: 620px;
  border-radius: 11px;
}

.offer-data {
  background-color: #ffffff;
  width: 560px;
  height: 271px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.offers-spain {
  position: absolute;
  top: 130px;
  left: 50px;
}
.offers-mumbai {
  position: absolute;
  top: 130px;
  right: 75px;
}
.offers-dubai {
  position: absolute;
  top: 420px;
  left: 50px;
}
.offers-newyork {
  position: absolute;
  top: 420px;
  right: 75px;
}

.offer-img-1 {
  margin-left: 20px;
  width: 198px;
  height: 198px;
  border-radius: 9px;
}
.apply {
  position: absolute;
  bottom: 12px;
  left: 40px;
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}
.book {
  background-image: linear-gradient(to right, #ff512f, #f09819);
  color: #fff;
  width: 110px;
  height: 28px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}
.spain-book,
.mumbai-book {
  position: absolute;
  top: 220px;
  left: 415px;
  z-index: 4;
}

.dubai-book,
.newyork-book {
  position: absolute;
  top: 220px;
  left: 415px;
  z-index: 4;
}

.offer-text {
  display: flex;
  flex-direction: column;
}

.offer-text-1 {
  margin: -54px 0px 20px 0px;
  font-family: SofiaSans;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.offer-text-2 {
  margin-bottom: 50px;
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
}
.offer-text-3 {
  font-family: SofiaSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f09819;
  text-decoration-color: #f09819;
  text-decoration-line: underline;
}

.sights {
  background-color: #000000;
  position: relative;
}
.sights_heading {
  padding: 10px 0px 20px 60px;
  color: #fff;
  font-family: SofiaSans;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6px;
  text-align: left;
}
.sights_more {
  position: absolute;
  top: 30px;
  right: 80px;
  text-decoration: underline;
  color: #fc7f0c;
  font-family: SofiaSans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
}
.sights-img {
  display: flex;
  gap: 20px;
}
.sights-img-1 img {
  margin: 30px 0px 0px -30px;
  width: 400px;
  height: 377px;
}
.sights-img-2 img {
  margin-top: 30px;
  width: 400px;
  height: 377px;
}
.sights-img-3 img {
  margin-top: 30px;
  width: 350px;
  height: 377px;
}
h5 {
  font-family: SofiaSans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
p {
  font-family: SofiaSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.location-map {
  height: 475px;
  background-color: #000000;
  color: #fff;
}

.location {
  position: relative;
  padding: 40px 0px 20px 170px;
  align-items: center;
  gap: 10px;
  display: flex;
}
.map_line{
  position: absolute;
  bottom: 25px;
  left: 450px;
  width: 515px;
}
.arrow-line {
  position: absolute;
  top: 40px;
  right: 320px;
  color: #f09819;
}

.map {
  margin-left: 45px;
  width: 1100px;
  height: 350px;
}

.aboutus {
  background-color: #000000;
  height: 320px;
  position: relative;
}

.aboutus-img {
  margin-left: 30px;
  width: 202px;
  height: 196px;
  opacity: 0.1;
}

.about-text{
  position: absolute;
  top: 53px;
  left: 250px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.link{
  position: absolute;
  top: 65px;
  right: 100px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
}

.customer-1{
  position: absolute;
  top: 130px;
  left: 160px;
  width: 440px;
  height: 150px;
  border-radius: 9px;
  background-color: #FB4F0B;
  color: #fff;
}
.heading-star{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6 {
  margin: 10px 0px 0px 30px;
  font-family: SofiaSans;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;  
}

.star {
  margin: 10px 30px 0px 0px;
  width: 167.16px;
  height: 38.66px;
}

.aboutus_p{
  margin: 10px 0px 0px 30px;
  font-family: SofiaSans;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}
.customer-2{
  position: absolute;
  top: 130px;
  right:200px;
  width: 450px;
  height: 150px;
  border-radius: 9px;
  background-color: #FB4F0B;
  color: #fff;
}

.news-updates{
  background-color: #000000;
  position: relative;
}

.news-text{
  position: absolute;
  top: 15px;
  left: 100px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
}

.news-link {
  position: absolute;
  top: 25px;
  right: 100px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: right;
}

.news-img {
  padding: 100px 0px 30px 30px;
  display: flex;
  gap: 20px;
}

.news-img-1 img{
  width: 280px;
  height: 280px;
}

.news-img-2 img{
  width: 280px;
  height: 280px;
}

.news-img-3 img{
  width: 280px;
  height: 280px;
}

.news-img-4 img{
  width: 280px;
  height: 280px;
}

.news-img h5{
  margin: 20px 0px;
  font-family: SofiaSans;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.news-img a {
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.gulf{
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}

.why,.whybook {
  margin: 200px 0px;
  width: 600px;
  font-family: SofiaSans;
  text-align: left;
}

.why h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 68px;
  color: #76A6FF;
}

.why p{
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #fff;
}

.whybook h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 68px;
  color: #76A6FF;
}

.whybook p{
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: #fff;
}

.details{
  padding: 20px 70px;
  font-family: SofiaSans;
  text-align: left;
  background-color: #000;
  color: #fff;
}
.detail h1{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 47.52px;
}
.detail p{
  font-size: 15px;
  font-weight: 400;
  line-height: 39.6px;
} 
.quik-link {
  display: flex;
  background-image: linear-gradient(#FB4F0B,#AD3419);
  font-family: SofiaSans;
  font-size: 32px;
  font-weight: 400;
  line-height: 63.36px;
  text-align: left;
}

.about {
  margin: 50px 100px;
}

.about a {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color:#fff;
}
.policy {
  margin: 50px 10px;
}

.policy a {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color:#fff;
}
.signup h1{
  margin: 70px 0px 10px 20px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 71.28px;
  text-align: left;
  color: #fff;
}
.signup p{
  margin: 0px 0px 10px 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 39.6px;
  text-align: left;
  color: rgba(255, 255, 255,0.5);
}
.signup{
  position: relative;
}

.email-arrow {
  position: absolute;
  top: 140px;
  right: 80px;
  color: rgba(255, 255, 255,0.5);
}
.line{
  position: absolute;
  top: 190px;
  left: 20px;
  width: 350px;
  height: 2px;
  background-color:rgba(255, 255, 255,0.5);
}
.social-link{
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
.social-icon i{
  margin: 50px 0px 50px 50px;
  font-size: 30px;
  color: #fff;
}
.copyright {
  font-family: SofiaSans;
  color: #fff;
}
.copyright h1{
  margin: 50px 100px 0px 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 38.4px;
}
.copyright p{
  margin: 10px 100px 50px 0px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28.8px;
}